<header id="header">

    <!-- Menu Hamburger amélioré -->
    <div class="menu-container">
        <div class="hamburger-menu">☰</div>
        <nav class="site-menu">
            <ul>
                {{ $menuItems := slice
                    (dict "path" "" "name" "Accueil" "icon" "🏠")
                    (dict "path" "bienvenue" "name" "Bienvenue" "icon" "🫶")
                    (dict "path" "galerie" "name" "Galerie" "icon" "📷" "submenu" (slice
                        (dict "path" "galerie/2025" "name" "👉 2025")
                        (dict "path" "galerie/2024" "name" "👉 2024")
                    ))
                    (dict "path" "catalogue" "name" "Le Book !" "icon" "🎨")
                    (dict "path" "presentation" "name" "Présentation" "icon" "🧚🏻")
                    (dict "path" "affiches" "name" "Affiches" "icon" "🖼️" "submenu" (slice
                        (dict "path" "affiches/2025" "name" "👉 2025")
                        (dict "path" "affiches/2024" "name" "👉 2024")
                    ))    
                    (dict "path" "infos" "name" "Des infos" "icon" "📜" "submenu" (slice
                        (dict "path" "infos" "name" "🫱 Infos accueil")
                        (dict "path" "infos/infos_p1" "name" "👉 Infos page n°1")
                        (dict "path" "infos/infos_p2" "name" "👉 Infos page n°2")
                        (dict "path" "infos/et_aussi" "name" "👉 ...et aussi")
                        (dict "path" "infos/balades"  "name" "👉 Balades")
                    ))
                    (dict "path" "pele_mele" "name" "Pêle-mêle" "icon" "🍂")
                    (dict "path" "balades" "name" "Balades" "icon" "🥾")
                }}
                {{ range $menuItems }}
    <li class="{{ if .submenu }}has-submenu{{ end }}">
    <a href="{{ .path | relURL }}" class="main-link">
    <span class="icon-space">{{ .icon }}</span> <!-- Icône en premier -->
    <span>{{ .name }}</span> <!-- Texte ensuite -->
    </a>
    {{ if .submenu }}
    <ul class="submenu">
        {{ range .submenu }}
        <li><a href="{{ .path | relURL }}">{{ .name }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</li>
{{ end }}
            </ul>
        </nav>
        <div class="close-menu" style="display:none;">✕</div> <!-- Croix cachée par défaut -->
    </div>
    

    <!-- Grab the base URL, pull out the path, then count directories -->
    {{- $base_url_parsed := urls.Parse .Site.BaseURL -}}
    {{- $base_dir := trim $base_url_parsed.Path "/" -}}
    {{- $base_part_cnt := cond (ne $base_dir "") (len (split $base_dir "/" )) 0 -}}

    <!-- Grab the current URL, separate it out -->
    {{- $url_parsed := urls.Parse .Permalink -}}
    {{- $trimmed_url := trim $url_parsed.Path "/" -}}
    {{- $pre_url_parts := split $trimmed_url "/" -}}
    {{- $pre_part_count := len $pre_url_parts -}}

    <!-- Drop the part of the current URL that's the base URL -->
    {{- $url_parts := last (sub $pre_part_count $base_part_cnt) $pre_url_parts -}}
    {{- $part_count := len $url_parts -}}

    <!-- Determine how much of the URL to use (sometimes last part is blank) -->
    {{- $last_part := index $url_parts (sub $part_count 1) -}}
    {{- $use_part_cnt := cond (eq (trim $last_part " ") "") (sub $part_count 1) $part_count -}}

    <!-- Determine whether to use URL components or titles for breadcrumb -->
    {{- $crumb_is_title := .Site.Params.breadcrumb_use_title | default false -}}

    <!-- Build the breadcrumb - base URL link, path links for each dir, cur location text -->
    <a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Title }}</strong></a>
    {{- if gt $use_part_cnt 0 -}}
        {{- range $cur_ind, $element := first (sub $use_part_cnt 1) $url_parts -}}
            {{- $path := string (delimit (first (add $cur_ind 1) $url_parts) "/") -}}
            {{- $cleaned_element := $element | replaceRE "_" " " -}}
            {{- $part := cond (gt (len (findRE "^[0-9]{4}$" $cleaned_element)) 0) $cleaned_element ($cleaned_element | title) -}}
            / <a href="{{ $.Site.BaseURL }}{{ $path }}"><strong>{{ cond $crumb_is_title ((($.Site.GetPage $path).Title) | default $part) $part }}</strong></a>
        {{- end -}}
        {{- $last_part := (index $url_parts (sub $use_part_cnt 1)) | replaceRE "_" " " -}}
        {{- $cur_part := cond (gt (len (findRE "^[0-9]{4}$" $last_part)) 0) $last_part ($last_part | title) -}}
        / {{ cond $crumb_is_title (.Title | default $cur_part) $cur_part }}
    {{- end }}
    </h1>
    {{ partial "navigation.html" . }}
</header>


