{{- /* Conteneur principal - NE PAS MODIFIER LA LOGIQUE DES COLONNES */ -}}
<div class="flexrow">
    {{- $column_count := 2 -}}
    {{- $content := $.Scratch.Get "content" -}}
    {{- $params := dict 
        "downloadable" false
        "orig_download" false
        "show_taxonomies" (default false ($.Param "taxonomies_links"))
    -}}

    {{- /* Colonnes */ -}}
    {{- range $col := seq $column_count -}}
        <div class="flexcol">
            {{- range $elem := $content -}}
                {{- if eq (mod (int $elem.weight) $column_count) (sub $col 1) -}}
                    {{- partial "thumb_partial.html" (merge $params (dict "elem" $elem)) -}}
                {{- end -}}
            {{- end -}}
        </div>
    {{- end -}}
</div>
